<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>North by Northwestern Fall 2017</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/assets/css/bundle.css">

  <meta property="og:site_name" content="North by Northwestern"/>
  <meta property="og:title" content="Fall 2017"/>
  <meta property="og:description" content="North by Northwestern is Northwestern University’s leading independent online publication, updated around the clock with stories about campus and culture. Click to read our quarterly print publication."/>
  <meta property="og:image" content="http://apps.northbynorthwestern.com/magazine/2017/fall/fall2017logo.png">
  <meta property="og:url" content="//apps.northbynorthwestern.com/magazine/2017/fall/">
</head>

<body>
  <a id="top">
    <header class="masthead">
      <div class="logo head" id="head1">
        <a href="//apps.northbynorthwestern.com/magazine/2017/fall/"><img class=nbn-logo src="http://nbn-housing.s3.amazonaws.com/static/img/nbn-logo.png" alt=""></a>
    </header>
  </a>
